*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;

}

.header .icon-rock{
    width: 40px;
}

.header .logo{
    width: 200px;
}

.buttons-header{
    display: flex;
    gap: 10px;
}

.buttons-header .button{
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    background-color: transparent;
    border-color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s ease;
}

.button:hover{
    border-color: red;
}